{% extends 'navigation.html' %}

{% block body %}
<style>
body{

    background-color: #f4f5f7;
}
.container {
    margin-top: 50px;
    background: #fff;
    hight :100px !important;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
}
.form-group input,
.form-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.form-row {
    display: flex;
    justify-content: space-between;
}
.form-row .form-group {
    flex: 0 0 48%;
}
.btn {
    margin-top: 20px;
}
.btn-primary {
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
}
.btn-primary:hover {
    background-color: #0056b3;
}

</style>

<br>
<br>

<div class="container h-50">
<h2 class="text-center">EDIT COUPON </h2>
<br>
<form method="post" action="{% url 'edit_coupon' cpn.id %}">
    {% csrf_token %}
    <div class="form-row">
        <div class="form-group">
            <label for="coupon_code">Coupon Code</label>
            <input type="text" id="coupon_code" name="coupon_code" value="{{ cpn.coupon_code }}">
        </div>

        <div class="form-group">
            <label for="coupon_name">Coupon Name</label>
            <input type="text" id="coupon_name" name="coupon_name" value="{{ cpn.coupon_name}}" >
        </div>
    </div>
    <div class="form-row">
        <div class="form-group">
            <label for="discount_percentage">Discount Percentage</label>
            <input type="number" id="discount_percentage" name="discount_percentage" value="{{ cpn.discount_percentage }}" >
        </div>
        <div class="form-group">
            <label for="minimum_amnt">Minimum Amount</label>
            <input type="number" id="minimum_amnt" name="minimum_amnt" value="{{ cpn.minimum_amnt }}" >
        </div>
    </div>
    <div class="form-row">
        <div class="form-group">
            <label for="max_amount">Maximum Amount</label>
            <input type="number" id="max_amount" name="max_amount" value="{{ cpn.max_amount }}" > 
        </div>
        <div class="form-group">
            <label for="expiry_date">Expiry Date</label>
            <input type="date" id="expiry_date" name="expiry_date" value="{{ cpn.expiry_date }}" >
        </div>
    </div>
    <div class="d-flex justify-content-center">

        <button type="submit" class="btn btn-primary" style="color:#fff;">Done</button>
    </div>
</form>
</div>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script>
        {% if messages %}
        {% for message in messages %}
        {% if message.tags == 'error' %}
        swal("Error!", "{{ message }}", "error"); // Display error message with a warning icon
        {% elif message.tags == 'success' %}
        swal("Success!", "{{ message }}", "success"); // Display success message with a success icon
        {% else %}
        swal("Message", "{{ message }}"); // Display general message
        {% endif %}
        {% endfor %}
        {% endif %}
    </script>
<br />

{% endblock body %}