{% extends 'bases.html' %}

{% block content %}

<div class="container mt-5">

    <div class="d-flex justify-content-center" >

        <h3> Edit Address</h3>
    </div>
    <form method="post" action="{% url 'edit_address' address.id %}">
        {% csrf_token %}

        <input type="hidden" name="address_id" value="{{ address.id }}" id="editAddressId">

        <div class="form-group">
            <label for="editFirstName">First Name *</label>
            <input class="form-control" value="{{ address.first_name }}" id="editFirstName" name="first_name" type="text" required>
        </div>
        <div class="form-group">
            <label for="editLastName">Last Name *</label>
            <input class="form-control" value="{{ address.last_name }}" id="editLastName" name="last_name" type="text" required>
        </div>
        <div class="form-group">
            <label for="editEmailAddress">Email Address *</label>
            <input class="form-control" value="{{ address.email }}" id="editEmailAddress" name="email" type="email" required>
        </div>
        <div class="form-group">
            <label for="editHouse">House *</label>
            <input class="form-control" value="{{ address.house }}" id="editHouse" name="house" type="text" required>
        </div>
        <div class="form-group">
            <label for="editCity">Town / City *</label>
            <input class="form-control" value="{{ address.city }}" id="editCity" name="city" type="text" required>
        </div>
        <div class="form-group">
            <label for="editState">State *</label>
            <input class="form-control" value="{{ address.state }}" id="editState" name="state" type="text" required>
        </div>
        <div class="form-group">
            <label for="editCountry">Country *</label>
            <input class="form-control" value="{{ address.country }}" id="editCountry" name="country" type="text" required>
        </div>
        <div class="form-group">
            <label for="editPinCode">ZIP / Postcode *</label>
            <input class="form-control" value="{{ address.pin_code }}" id="editPinCode" name="pin_code" type="text" required>
        </div>
        <div class="form-group">
            <label for="editMobileNumber">Mobile Phone *</label>
            <input class="form-control" value="{{ address.mobile_number }}" id="editMobileNumber" name="mobile_number" type="tel" required>
        </div>
        
        <br>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-success">Save</button>
        </div>
        <br>
    </form>

</div>

{% endblock content %}