{% extends 'bases.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<style>
    body {
        background:#ecf9fa;
    }
      
    .price-range-slider {
        width:10%;
        float:left;
        padding:10px 20px;
    }

    .range-value {
        margin:0;
        input {
            width:75%;
            background:none;
            color: #000;
            font-size: 16px;
            font-weight: initial;
            box-shadow: none;
            border: none;
            margin: 20px 0 20px 0;
        }
    }

    .range-bar {
        border: none;
        background: #000;
        height: 3px;	
        width: 96%;
        margin-left: 8px;
        .ui-slider-range {
            background:#06b9c0;
        }
        .ui-slider-handle {
            border:none;
            border-radius:25px;
            background:#fff;
            border:2px solid #06b9c0;
            height:17px;
            width:12px;
            top: -0.52em;
            cursor:pointer;
        }
        .ui-slider-handle + span {
            background:#06b9c0;
        }
    }
    .color-label {
        display: inline-block;
        width: 30px;
        height: 30px;
        border: 1px solid #000;
        border-radius: 50%;
        margin: 5px;
        cursor: pointer;
    }
    .color-label input[type="radio"]:checked + .color-label {
        border: 2px solid #333;
    }
    .apply-button {
        display: inline-block;
        padding: 10px 20px;
        background-color: #06b9c0;
        color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease, box-shadow 0.3s ease;
    }

    .apply-button:hover {
        background-color: #049fa6;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .apply-button:active {
        background-color: #038d8e;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    .product__item__pic {
        overflow: hidden;
        position: relative;
    }

    .product__item__pic img {
        transition: transform 1s ease;
    }

    .product__item__pic[data-zoom="true"]:hover img {
        transform: scale(1.1);
    }
</style>

{% block content %}
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Shop</h4>
                        <div class="breadcrumb__links">
                            <a href="{% url 'home' %}">Home</a>
                            <span>Shop</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Shop Section Begin -->
    <section class="shop spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="shop__sidebar">
                        <div class="shop__sidebar__search">
                            <form method="get" action="{% url 'shop' %}">
                                
                                <input type="text" name="query" placeholder="Search..." style="color:black;" value="{{ request.GET.query }}">
                                <br>
                                <br>

                                <div class="d-flex justify-content-end">
                                    <a href="{% url 'shop' %}" class="btn btn-outline-primary">Clear</a>
                                </div>
                            </form>
                        </div>
                        <div class="shop__sidebar__accordion">
                            <div class="accordion" id="accordionExample">
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseOne">Categories</a>
                                    </div>
                                    <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__categories">
                                                <ul class="nice-scroll">
                                                    <form method="get" action="{% url 'shop' %}">
                                                        {% for category in categorys %}
                                                        <li>
                                                            <label>
                                                                <input type="radio" name="category" value="{{ category.id }}"
                                                                    {% if request.GET.category and request.GET.category == category.id %}checked{% endif %}>
                                                                {{ category.name }}
                                                            </label>
                                                        </li>
                                                        {% endfor %}
                                                        <br>
                                                        <button type="submit" class="apply-button" >Apply</button>
                                                    </form>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseThree">Filter Price</a>
                                    </div>
                                    <div id="collapseThree" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__price">
                                                <ul>
                                                    <li><a href="#" class="price-filter" data-min="0" data-max="500">₹0 - ₹500</a></li>
                                                    <li><a href="#" class="price-filter" data-min="500" data-max="1000">₹500 - ₹1000</a></li>
                                                    <li><a href="#" class="price-filter" data-min="1000" data-max="2000">₹1000 - ₹2000</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="shop__sidebar">
                                    <div class="card">
                                        <div class="card-heading">
                                            <a data-toggle="collapse" data-target="#collapseFive">Colors</a>
                                        </div>
                                        <div id="collapseFive" class="collapse show" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <div class="shop__sidebar__color">
                                                    {% for color in colors %}
                                                        <label class="color-label" for="color-{{ color }}" style="background-color: {{ color }};">
                                                            <input type="radio" name="color" id="color-{{ color }}" data-color="{{ color }}" style="display:none;">
                                                        </label>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="shop__product__option">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="shop__product__option__left">
                                    <p><b>Showing {% if prods %}1{% else %}0{% endif %} to {{ tot_count }} results</b></p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="shop__product__option__right">
                                    <br>
                                    <form method="get" action="{% url 'shop' %}">
                                        <p>Sort by Price:</p>
                                        <select name="sort" onchange="this.form.submit()">

                                                    <option value="low_to_high" {% if request.GET.sort == 'low_to_high' %}selected{% endif %}>Low To High</option>
                                                    <option value="high_to_low" {% if request.GET.sort == 'high_to_low' %}selected{% endif %}>High To Low</option>
                                                    <option value="A-Z" {% if request.GET.sort == 'A-Z' %}selected{% endif %}>A-Z</option>
                                                    <option value="Z-A" {% if request.GET.sort == 'Z-A' %}selected{% endif %}>Z-A</option>
                                                </select>
                                                <input type="hidden" name="category" value="{{ request.GET.category }}">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if prods %}
                                
                            <div class="row">
                                {% for product in prods.all %}
                                    <div class="col-lg-4 col-md-6 col-sm-6">
                                        <div class="product__item">
                                            <div class="product__item__pic set-bg zoom" data-setbg="" data-zoom="true" >
                                                <a href="{% url 'shop_details' product.id %}">
                                                    {% if product.image1 %}
                                                        
                                                    <img style='width: 300px; height:270px;' src="{{ product.image1.url }}" alt="">
                                                    {% else %}
                                                    <img src="" alt="image">
                                                    {% endif %}
                                                </a>
                                                    {% if not product.isactive   %}
                                                        <span class="label" style="background-color:red; border-radius:5px; color:white;">Out Of Stock</span>
                                                    {% else %}
                                                        <span class="label" style="background-color:green; border-radius:5px; color:white;">In Stock</span>
                                                    {% endif %}
                                                <ul class="product__hover">
                                                    <li><a href="{% url 'add_to_wishlist' product.id %}"><img src="{% static 'img/icon/heart.png' %}" alt=""></a></li>
                                                </ul>
                                            </div>
                                            
                                            <div class="product__item__text">
                                                <h6>{{ product.product.product_name }}</h6>
                                                <a href="#" class="add-cart">+ Add To Cart</a>
                                                <div class="rating">
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                            {% if product.product.offer_price %}
                                                {% if product.product.offer_price < product.product.price %}
                                                    <h5>₹{{ product.product.offer_price|floatformat:0 }}</h5>
                                                    <del>₹{{ product.product.price|floatformat:0 }}</del>
                                                {% else %}
                                                    <h5>₹{{ product.product.price|floatformat:0 }}</h5>
                                                {% endif %}
                                                {% else %}
                                                <h5>₹{{ product.product.price|floatformat:0 }}</h5>
                                            {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% else %}
                        <br>
                        <div class="d-flex justify-content-center" >
                            <h3 style="font-family: Verdana, Geneva, Tahoma, sans-serif;" >No products available</h3>
                        </div>
                            <br>
                            <br>
                        {% endif %}
                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <div class="pagination__option">
                                    <ul class="pagination d-flex justify-content-center">
                                        {% if products.has_previous %}
                                            <li class="page-item"><a class="page-link" href="?page={{ products.previous_page_number }}">&laquo;</a></li>
                                        {% endif %}
                                        {% for num in products.paginator.page_range %}
                                            {% if products.number == num %}
                                                <li class="page-item active"><a class="page-link" href="#">{{ num }}</a></li>
                                            {% elif num > products.number|add:'-5' and num < products.number|add:'5' %}
                                                <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                        {% if products.has_next %}
                                            <li class="page-item"><a class="page-link" href="?page={{ products.next_page_number }}">&raquo;</a></li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Shop Section End -->

            <script>
                document.addEventListener('DOMContentLoaded', function () {
                const zoomElements = document.querySelectorAll('.product__item__pic[data-zoom="true"]');

                    zoomElements.forEach(function (element) {
                        element.addEventListener('mouseover', function () {
                            const img = this.querySelector('img');
                            img.style.transform = 'scale(1.1)';
                        });

                        element.addEventListener('mouseout', function () {
                            const img = this.querySelector('img');
                            img.style.transform = 'scale(1)';
                        });
                    });
                });
            </script>
            <script>
                document.querySelectorAll('input[name="color"]').forEach(function(element) {
                    element.addEventListener('change', function(event) {
                        const color = event.target.dataset.color;
                        const urlParams = new URLSearchParams(window.location.search);
                        urlParams.set('color', color);
                        window.location.search = urlParams.toString();
                    });
                });
            </script>
        
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script>
                document.querySelectorAll('.price-filter').forEach(function(element) {
                    element.addEventListener('click', function(event) {
                        event.preventDefault();
                        const min = event.target.dataset.min;
                        const max = event.target.dataset.max;
                        const urlParams = new URLSearchParams(window.location.search);
                        urlParams.set('min', min);
                        urlParams.set('max', max);
                        window.location.search = urlParams.toString();
                    });
                });
            </script>
        {% endblock content %}