.nav-pills-custom .nav-link {
    color: #ffffff;
    background: #afbcd1;
    position: relative;
    border-radius: 5px;
    }   

.nav-pills-custom .nav-link:hover {
    background: #1f78d1;
}

.nav-pills-custom .nav-link.active {
    color: #ce1818;
    background: #b8b8b8;
}

@media (min-width: 992px) {
    
    .nav-pills-custom .nav-link::before {
        content: '';
        display: block;
        border-top: 8px solid transparent;
        border-left: 10px solid #817ec9;
        border-bottom: 8px solid transparent;
        position: absolute;
        top: 50%;
        right: -10px;
        transform: translateY(-50%);
        opacity: 0;
    }
}

.nav-pills-custom .nav-link.active::before {
    opacity: 1;
}



.header {
    color: #cab9b9;
}

.info{

    font-size: 20px;
}

.tab-content.tab-pane {
    background-color: #FFFACD; /* Light yellow (cream) */
}

/* Grey text for headings and labels */
.tab-content.tab-pane h4,.tab-content.tab-pane label {
    color: #808080; /* Dark grey */
}

.form-group label {

    color: rgb(61, 26, 151);
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.table tbody + tbody {
    border-top: 2px solid #dee2e6;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}