{% extends 'navigation.html' %}

{% block body %}
<style>

    .form-row input{
        width: 50%;
    }

    body{

        background-color: #f4f5f7;
    }
</style>
{% load static %}
<div class="container mt-5">
    <form action="{% url 'editvariant' variant.id %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="color"><b>Color</b></label>
            <input type="text" class="form-control" id="color" name="color" value="{{ variant.color }}">
            <span id="color-error" style="color:red;"></span>
        </div>

        <div class="form-row d-flex justify-content-center">
            {% if variant.image1 %}
            <div class="form-group col-md-4">
                <label for="image1" class="form-label"><b>Image 1</b>:</label>
                <div class="d-flex align-items-center">
                    <input type="file" class="form-control" name="image1" accept="image/*" onchange="showPreview(event, 'preview1')">
                    <a href="#" onclick="removeImage('remove_image1')" class="ml-3" style="text-decoration: none;">
                        <i class="fas fa-times-circle fa-2x" style="color: red;"></i>
                    </a>
                </div>
                <br>
                <div class="position-relative">
                    <img id="preview1" src="{{ variant.image1.url }}" style="width: 250px; height: 250px; border-radius: 15px;">
                </div>
                <input type="hidden" id="remove_image1" name="remove_image1">
            </div>
            {% endif %}

            {% if variant.image2 %}
            <div class="form-group col-md-4">
                <label for="image2" class="form-label"><b>Image 2</b>:</label>
                <div class="d-flex align-items-center">
                    <input type="file" class="form-control" id="image2" name="image2" accept="image/*" onchange="showPreview(event, 'preview2')">
                    <a href="#" onclick="removeImage('remove_image2')" class="ml-3" style="text-decoration: none;">
                        <i class="fas fa-times-circle fa-2x" style="color: red;"></i>
                    </a>
                </div>
                <br>
                <div class="position-relative">
                    <img id="preview2" src="{{ variant.image2.url }}" style="width: 250px; height: 250px; border-radius: 15px;">
                </div>
                <input type="hidden" id="remove_image2" name="remove_image2">
            </div>
            {% endif %}

            {% if variant.image3 %}
            <div class="form-group col-md-4">
                <label for="image3" class="form-label"><b>Image 3</b>:</label>
                <div class="d-flex align-items-center">
                    <input type="file" class="form-control" id="image3" name="image3" accept="image/*" onchange="showPreview(event, 'preview3')">
                    <a href="#" onclick="removeImage('remove_image3')" class="ml-3" style="text-decoration: none;">
                        <i class="fas fa-times-circle fa-2x" style="color: red;"></i>
                    </a>
                </div>
                <br>
                <div class="position-relative">
                    <img id="preview3" src="{{ variant.image3.url }}" style="width: 250px; height: 250px; border-radius: 15px;">
                </div>
                <input type="hidden" id="remove_image3" name="remove_image3">
            </div>
            {% endif %}
        </div>

        <div class="form-group mt-5 d-flex justify-content-center">
            <button id="submit-button" class="btn btn-primary" type="submit">Done</button>
        </div>
    </form>
</div>



<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>



<script>
    $(document).ready(function() {
        $('#color').on('input', function() {
            var color = $(this).val();
            var productId = "{{ variant.product.id }}";
            var variantId = "{{ variant.id }}";

            $.ajax({

                url: '{% url "valid_color" %}',
                method: 'GET',
                data: {

                    color: color,
                    product_id : productId,
                    variant_id : variantId
                },
                success: function(response) {
                    if (response.is_taken) {
                        $('#color-error').text('This color is already taken for another variant.');
                        $('#submit-button').prop('disabled',true)
                    } else {
                        $('#color-error').text('');
                        $('#submit-button').prop('disabled',false)

                    }
                }
            });
        });
    });
</script>

<script>
    function showPreview(event, previewId) {
        const input = event.target;
        const preview = document.getElementById(previewId);
        if (input.files && input.files[0]) {
            const reader = new FileReader();
            reader.onload = function(e) {
                preview.src = e.target.result;
                preview.style.display = 'block';
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>

<script>
    function removeImage(imageFieldId) {
        document.getElementById(imageFieldId).value = 'on';
        document.getElementById('preview' + imageFieldId.split('_')[2]).src = '';
    }

    function showPreview(event, previewId) {
        var reader = new FileReader();
        reader.onload = function() {
            var output = document.getElementById(previewId);
            output.src = reader.result;
        }
        reader.readAsDataURL(event.target.files[0]);
    }
</script>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    {% if messages %}
    {% for message in messages %}
    {% if message.tags == 'error' %}
    swal("Error!", "{{ message }}", "error");
    {% elif message.tags == 'success' %}
    swal("Success!", "{{ message }}", "success");
    {% else %}    
    swal("Message", "{{ message }}");
    {% endif %}
    {% endfor %}
    {% endif %}
</script>
    
{% endblock body %}