    {% extends 'navigation.html' %}

    {% block body %}

    <style>

        body{

            background-color: #f4f5f7;
        }
        
        .form-container {
            padding: 60px ;
            width:100%;
        }
        
        label {
            font-weight: bold;
        }
        
        input[type="text"],
        input[type="number"],
        input[type="file"],
        select {
            width: 100%;
            padding: 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-bottom: 19px;
        }
        
        button {
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        
        button:hover {
            background-color: #0056b3;
        }
    </style>

    <div class="form-container">
        <form action="{% url 'edit_prod' products.id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            
            {% if messages %}

                <ul class='messages' >
                {% for message in messages %}

                    <li{% if message.tags == 'error' %}  style="color: red; text-decoration: none; font-size: 21px; " class="d-flex justify-content-center" {% elif message.tags %} style="color: green; font-size: 21px; font-family: Verdana, Geneva, Tahoma, sans-serif; " class="d-flex justify-content-center"
                        
                {% endif %}>{{ message }}</li>
                        
                    {% endfor %}
                </ul>

            {% endif %}

            <label for="product_name">Product Name:</label>
            <input type="text" id="product_name" name="product_name" value="{{ products.product_name }}"><br>

            <label for="price">Price:</label>
            <input type="number" id="price" name="price" value="{{ products.price }}"><br>

            <label for="category">Category:</label>
            
            <select id="category" name="category">
                {% for cat in categories.all %}
                <option value="{{ cat.id }}">{{ cat.name }}</option>
                {% endfor %}
            </select>   

            <div class="form-group">

                <label for="image1">thumb image:</label>
                <input type="file" id="thumb_img" name="thumbnail" accept="image/*" >

            </div>


            
            <div class='d-flex justify-content-center'>

                <button type="submit" style="padding-right:10px;" >Update Product</button>
            </div>

        </form>



    </div>
    {% endblock body %}
