{% extends 'navigation.html' %}
{% block title %}Edit Category{% endblock title %}
{% block body %}
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        form {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            height: 26rem;
            width: 100%;
            max-width: 500px;
            margin: auto;
        }

        h2 {
            text-align: center;
            margin-bottom: 20px;
        }

        label {
            display: block;
            margin-bottom: 8px;
        }

        input[type="text"],
        textarea {
            width: 100%;
            padding: 8px;
            margin-bottom: 16px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            resize: vertical;
        }

        button {
            background-color: #007bff;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
            transition: background-color 0.3s;
            display: block;
            width: 100%;
            box-sizing: border-box;
        }

        button:hover {
            background-color: #0056b3;
        }

        @media (max-width: 768px) {
            .container {
                padding: 0 15px;
            }
        }
    </style>

   

    <div class="container mt-5">
        <form action="{% url 'edit_category' data.id %}" method="post">
            <h2><b>Update Category</b></h2>
            {% csrf_token %}
            <label for="name">Name :</label>
            <input type="text" id="name" name="name" placeholder="Name" value="{{ data.name }}">
            <label for="description">Description:</label>
            <textarea id="description" name="description" placeholder="Description">{{ data.description }}</textarea>
            <button type="submit">Update</button>
        </form>
    </div>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        {% if messages %}
            {% for msg in messages %}
                {% if msg.tags == 'error' %}
                    swal({
                        title: "{{ msg }}",
                        icon: "error"                
                    })
                {% elif msg.tags == 'success' %}
                    swal({
                        title: "{{ msg }}",
                        icon: "success",
                        text: "Added successfully",
                    }).then(() => {
                        window.location.href = "{% url 'category' %}";
                    })
                {% endif %}
            {% endfor %}
        {% endif %}
    </script>
{% endblock body %}
