{% extends 'nav.html' %}

{% load static %}

<head>
  <style>
    .card {
      position: sticky;
    }

    .card-body {
      margin-bottom: 3rem;
    }

    .table-responsive {
      margin-left: auto;
      margin-right: auto;
    }

    .table {
      border-collapse: collapse;
      width: 100%;
    }

    .table th {
      background-color: #343a40;
      color: #fff;
    }

    .table td {
      border-bottom: 1px solid #dee2e6;
    }

    .restore-btn {
      margin-right: 10px;
    }

    .fa-trash-can {

      color: #dc3545;

    }
  </style>
</head>

{% block body %}

<div class="col-lg-10 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Recycle bin</h4>
      <div class="table-responsive pt-5">
        <div class="d-flex justify-content-center "> 
          <table class="table table-striped ">
            <thead>
              <tr>
                <th>ID</th>
                <th>Item</th>
                <th>Description</th>
                <th>Option</th>
              </tr>
            </thead>
            <tbody>
              {% if cat %}
              {% for item in cat %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.description }}</td>
                <td>
                  <form action="{% url 'restore_cat' item.id %}">
                    <button type="submit" class="restore-btn btn btn-outline-primary"><i class="fas fa-undo"></i>Restore</button>
                  </form>

                  {% comment %} <a href="{% url 'trash_remove' item.id %}">
                    <i class="fa-solid fa-trash-can fa-bounce"></i>
                  </a> {% endcomment %}

                </td>
              </tr>
              {% endfor %}
              {% else %}
              <tr>
                <td colspan="4">No items found</td>
              </tr>
              {% endif %}
            </tbody>
          </table> </div>
      </div>
    </div>
  </div>
</div>

{% endblock body %}
