{% extends 'bases.html' %}


{% load static %}

{% block content %}
<head>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <!-- jQuery (required by Toastr) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        
    <style>

        .qty-btn {
            background-color: #f8f9fa;
    
            border-radius : 10px ;
            color: #495057;
            font-size: 16px;
            padding: 5px 10px;
            cursor: pointer;
            outline: none;
        }
    
        .qty-btn:hover {
            background-color: #e9ecef;
        }
    
        .qty-btn:active {
            background-color: #dee2e6;
        }
    
        .pro-qty-2 {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    
        .qty-btn-left {
            margin-right: 5px;
        }
    
        .qty-btn-right {
            margin-left: 5px;
    
        }
        .shopping__cart__table table tbody tr td.product__cart__item {
            width: 335px;
        }
        
        .ms-5 {
            padding-right: 10px !important ;
        }
        .cart__total{
            margin-left : 50px !important;
        }
    </style>
</head>
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Shopping Cart</h4>
                        <div class="breadcrumb__links">
                            <a href="{% url 'home' %}">Home</a>
                            <a href="{% url 'shop' %}">Shop</a>
                            <span>Shopping Cart</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Shopping Cart Section Begin -->
        
    <section class="shopping-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="shopping__cart__table">

                        {% if cart_items %}
                            
                            <table>
                            <thead>

                                <tr>
                                    <th>id</th>
                                    <th>Product</th>
                                    <th>Quantity</th>
                                    <th>Total</th>

                                </tr>
                            </thead>
                            <tbody>
                                {% for cart_item in cart_items %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td class="product__cart__item">
                                        <div class="product__cart__item__pic">
                                            <img src="{{ cart_item.product.image1.url }}" style="width:100px; height:100px" alt="imagggeeee">
                                        </div>

                                        <div class="product__cart__item__text " style="margin-left:5px;">
                                            <h6>{{ cart_item.product.product.product_name }}</h6>
                                            {% if cart_item.product.product.offer_price %}
                                                
                                            <h5>₹{{ cart_item.product.product.offer_price }}</h5>
                                            {% else %}


                                            <h5>₹{{ cart_item.product.product.price }}</h5>

                                            {% endif %}
                                            <h6>size ( {{ cart_item.sizes.size }} ) </h6>

                                        </div>

                                    </td>


                                    <td class="quantity__item ms-5">
                                        <div class="quantity">
                                            <div class="pro-qty-2">

                                                <button onclick="updateQuantity('{{ cart_item.id }}','decrease')" class="reduced items-count" type="button">-</button>
                                            
                                                <input type="text" name="quantities[]" id="qty-{{ cart_item.id }}" min="1" max="10" maxlength="12" 
                                                value="{{ cart_item.quantity }}" title="Quantity:" class="input-text qty" readonly >
     
                                                <button onclick="updateQuantity('{{ cart_item.id }}', 'increase')" class="increase items-count" type="button">+</button>

                                            </div>
                                        </div>
                                    </td>
                                    
                                    
                                    <td id="subtotal_display">
                                        <h5 id="total_price-{{ cart_item.id }}" >₹ {{ cart_item.total }}</h5>
                                    </td>
                                    
                                    <td><a href="{% url 'remove_cart' cart_item.id %}" class="btn btn-danger">Remove</a>
                                       
                                    </td>

 
                                </tr>
                            </tbody>
                            {% endfor %}
                            </table>
                        {% else %}
                        <div class="cart-empty d-flex justify-content-center">
                            <h3>Your cart is empty.</h3>
                        </div>
                    {% endif %}
                    </div>
                    <br>
                    <br>
                    

                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="continue__btn">
                                <a href="{% url 'shop' %}">Continue Shopping</a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="continue__btn update__btn">
                                <a href="{% url 'cart' %}"><i class="fa fa-spinner"></i> Update cart</a>
                            </div>
                        </div>
                    </div>
                </div>

                    <div class="cart__total">
                        <h6>Cart total</h6>
                        <ul>

                            <li>Subtotal<span  id="sub-total"> ₹{{subtotal|floatformat:0 }} </span></li>
                            <li>shippingfee <span id="shipping_fee" >₹{{shippingfee}}</span></li>
                            <li>total<span id="grant_total" >₹{{ full_total|floatformat:0 }}</span></li>

                        </ul>
                        <a href="{% url 'checkout' %}" class="primary-btn">Proceed to checkout</a>
                    </div>
                </div>
            </div>
        </div>

    </section>
    
    <!-- Shopping Cart Section End -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <script>
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }

        // Function to display Toastr messages
        function displayMessages() {

            {% if messages %}
                {% for message in messages %}
                    toastr["{{ message.tags }}"]("{{ message }}")
                {% endfor %}
            {% endif %}

        }

        document.addEventListener('DOMContentLoaded', function() {
            displayMessages();
        });
    </script>
    <script>
       function updateQuantity(cartid, action) {
        var quantityInput = document.getElementById("qty-" + cartid);``
        var totalInput = document.getElementById("total_price-" + cartid);
        var subtotalInput = document.getElementById("sub-total")
        var full_totalInput = document.getElementById("grant_total")
        var shipping_feeInput = document.getElementById("shipping_fee")
        var total = parseInt(totalInput.value)
        var subtotal = parseInt(subtotalInput.value)
        var full_total = parseInt(full_totalInput.value)

        var quantity = parseInt(quantityInput.value);
        if (action === 'increase' && quantity < 10) {
            $.ajax({
                url: '/update_quantity/',
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                contentType: 'application/json',
                dataType: 'json',
                data: JSON.stringify({
                    'operation':"increment",
                    'quantity': quantity,
                    'cartid': cartid
                }),
                success: function(data) {
                    if(data.message == "updated"){
                        quantity++;
                        quantityInput.value = quantity;

                        $("#total_price-" + cartid).html("₹" + data.total);
                        $("#sub-total").html("₹" + data.subtotal);
                        var shippingFee = updateShippingFee(data.subtotal);
                        $("#grant_total").html("₹" + data.full_total)

                        console.log(data.subtotal)
                        console.log(data.full_total)

                    }else if(data.message == "notupdated"){

                        swal({

                            title: "STOP",
                            icon: "error",
                            text :"You can't update the quantity, Stock limit reached"
                        })
                    }
                   
                    // You can update subtotal and grant total if needed here
                },
                error: function(error) {
                    console.error('Error:', error);
                }
            });
        } 
        else if (action === 'decrease' && quantity > 1 ) {
            $.ajax({
                url: '/update_quantity/',
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}' // Ensure you have a CSRF token available
                },
                contentType: 'application/json',
                dataType: 'json',
                data: JSON.stringify({
                    'operation':"decrease",
                    'quantity': quantity ,
                    'cartid': cartid
                }),
                success: function(data) {
                    if (data.message=="dec_updated"){
                        quantity-- ;
                        console.log(quantity,"dsfddddf")
                        quantityInput.value = quantity;
                        $("#total_price-" + cartid).html("₹" + data.total);
                        $("#sub-total").html("₹" + data.subtotal);
                        var shippingFee = updateShippingFee(data.subtotal);                      
                        $("#grant_total").html("₹" + data.full_total)
                        console.log(data.full_total)
                        console.log(data.subtotal)
                        
                    }

                },

                error: function(error) {
                    console.error('Error:', error);
                }
            });
           
        }else if (quantity >= 10) {
            swal({
                title: "Limit Reached",
                icon: "error",
                text: "You cannot order more than 10 items"
            });
        }
    }
    function updateShippingFee(subtotal) {
        var shippingfee = 0 ;
        if (subtotal >= 5000) {
            shippingfee = 0 ;
        } else {
            shippingfee = 100;
        }
        $("#shipping_fee").html("₹" + shippingfee);
        return shippingfee;
    }
    </script>

{% endblock %}
